<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .content {
            display: flex;
        }
        .about{
            border-left-style: solid;
    border-left-color: darkorange;
    padding-left: 6px;
        }
    </style>
    <title>About</title>
</head>
<body>
    <section class="header-section-about">

        <nav class="navbar navbar-expand-lg bg-light d-flex p-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">SHAMRIDHI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav"></div>
                <form class="d-flex" role="search">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex text-warning" href="./about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./speciality.html">Speciality</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contact.html">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./gallery.html">Gallery</a>
                          </li>
                    </ul>
                </form>
            </div>
            </div>
        </nav>
    </section>

    <section class="content">
        <div class="image-div d-inline-flex">
                <div class="img d-flex">
                    <div class="p-0 m-0">
                        <img class="w-50" src="../images/agri1.jpg" alt="img1">
                        <img class="w-50" src="../images/agri2.jpg" alt="img2">
                    </div>
                    <div class="p-0 m-0">
                        <img class="w-100" src="../images/agri3.jpg" alt="img3">
                    </div>
                </div>

        <div class="text-div p-5" >
            <h4 class="about">About Us</h4>
            <p>Samriddhi is a research based agriculture company dedicated to transfer to typical Nepalese low return subsistence agriculture 
               into thriving agro enterprises through the promotion of high value
                crops. Nepal's characteristic micro-climates in the hills and mountains are highly favorable for the production of high quality berries,nuts and fruits.
                Promotion of the high value crops that have comparative advantages for Nepal wil create new business opportunities in various sectors including production,processing
                and marketing. Samriddhinis integrating demand-driven research,extension and agriculture enterpreneurship in a single functional system to expedite the time lag between innovatios and income generation.
                Our execution model involves functional collaboration among various agencies including national and international Universities,private companies , farmer's cooperatives and government agencies.
                 We promote private-public-community partnership to deliver research based information and services to our clients.
                 We aim to offer one stop solutions to our clients.
            </p>

        </div>
    </section>
</body>
</html>